body {
    margin:0;
}

.image_outer {
	background: url(https://source.unsplash.com/category/nature/1600x900);
    position:absolute;
    top:0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: -1;

	/*width:100%;
	margin:0 auto;
	padding: 0; 
	background: url(https://source.unsplash.com/category/nature/1600x900); 
	repeat-x; 
	height:100%;*/
}

.header {
	padding-top: 24px;
	padding-bottom: 24px;
        font-size: 48px;
	color: white;
       /*text-shadow: 2px 2px #696969;*/
	text-align: center;
	/*
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #28B463;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
	padding-top: 18px;
	padding-bottom: 18px;
	margin-left: 0;
	margin-right: 0;*/
}

#title {
	font-family: Lobster;
	color: white;
	font-size: 56px;
	text-align: center;
	vertical-align: bottom;
}

.btn {
        display: none;
        font-family: Raleway;
	background-color: #3498DB;
}


#pose-well {
	background: rgba(51, 51, 51, 0);
	border-radius: 50px;
	font-color: gray;
	color: white;
	font-family: Raleway;
	font-size: 24px;
	margin: 50px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
        border-radius: 0px;
        border-radius: 0px;
        border: 0px;
}

#footer {
	border: none;
	margin-top: 45px;
	padding-top: 145px;
	font-size: 20px;
        font-family: Raleway;
	color: white;
}

a:link {color: white;}

a:visited {color: white;}

a:hover {color: white;}

a:focus {color: white;}

a:active {color: white;}

/*#main-nav {
	align: right;
	margin-top: 66px;
}

#navlist {
	text-align: right;
	font-size: 18px;
}

li {
	display: inline;
	list-style-type: none;
	padding: 16px;
	color: white;
}*/
